@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

html {
  font-size: 18px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--dark-grayish-blue);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: url(images/bg-pattern-top.svg) right 50vw bottom 40vh no-repeat,
    url(images/bg-pattern-bottom.svg) 50vw 50vh no-repeat, var(--dark-cyan);
}

.pf-card {
  width: 350px;
  height: min-content;
  border-radius: 10px;
  margin: auto;
  position: relative;
  background-color: #fff;
  background-image: url(images/bg-pattern-card.svg);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 350px;
  box-shadow: 0px 40px 100px 10px rgba(5, 41, 57, 0.4);
}

.pf-avatar {
  width: 100px;
  border: 5px solid #fff;
  border-radius: 100%;
  box-sizing: content-box;
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
}

.pf-name {
  display: inline-block;
  margin: 218px 5px 5px;
  /* margin-bottom: 8px; */
  font-size: 1rem;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.pf-location {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 28px;
}

.pf-card hr {
  border: none;
  border-top: 1px solid #c6c5c5;
}

ul {
  list-style: none;
}

.pf-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.6rem;
  letter-spacing: 1px;
  margin-bottom: 28px;
}

.pf-stats li span {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 6px;
  margin-top: 28px;
}

footer {
  font-size: 0.7rem;
  color: var(--very-dark-desaturated-blue);
  text-align: center;
  padding: 5px 0;
  width: 100%;
}

footer a {
  color: var(--dark-cyan);
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}
